#card-container {
    background-color:rgba(40, 40, 40, 0.3);
    width: 230px;
    margin-top: 10px;
    margin-right: 10px;
    max-height: 300px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
}

#card-container > a {
    text-decoration: none;
}

#card-container:hover {
    background-color:rgb(40, 40, 40);
}

#card-img {
    padding: 15px;
}

#img {
    width:200px;
    height: 200px;
}

#card-content {
    padding: 0px 10px 10px 10px;
}

#playlist_name {    
    font-size: 20px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
}

#playlist_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(179, 179, 179);
}